main {
  margin: 0 65px;
  height: 100%;
}

main .h1-cont h1 {
  font-size: 2.75rem;
  margin-bottom: 10px;
  color: var(--persian-red);
}

main .text-cont {
  width: min(870px, 100%);
}

main .text-cont p {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 20px;
  line-height: 1.75rem;
}

main .img-cont {
  width: min(400px, 80%);
  background-color: var(--persian-red);
}

main .img-cont img {
  width: 100%;
  position: relative;
  bottom: -30px;
  right: -35px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
