header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: 125px;
  align-items: center;
  gap: 30px;
  margin: auto 65px;
}

.h1-cont {
  display: flex;
  justify-content: start;
}

.h1-cont h1 {
  font-size: 1.65rem;
  font-family: 'Romelio Sans', sans-serif;
  margin-top: 6px;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 400px;
}

li {
  list-style: none;
  font-size: 1.125rem;
  font-weight: 500;
}

.btn-cont {
  display: flex;
  justify-content: end;
}

header .btn-cont .btn {
  border: 2px solid var(--rich-brown);
  color: var(--rich-brown);
  background-color: #fff;
}

header .btn-cont .btn:hover {
  background-color: var(--rich-brown);
  color: #fff;
}

.h1-cont h1,
header .btn-cont .btn,
li {
  white-space: nowrap;
  color: var(--rich-brown);
}

main {
  margin-left: 65px;
  display: grid;
  grid-template-columns: 540px auto;
  align-items: center;
}

.text-cont h1 {
  font-size: 3.75rem;
  color: var(--rich-brown);
  line-height: 5rem;
}

.text-cont h1 > span {
  color: var(--persian-red);
}

.text-cont p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--rich-brown);
}

.text-cont h1,
.text-cont h1 > span {
  font-family: 'Romelio Sans', sans-serif;
}

.text-cont .btn {
  border: 2px solid var(--persian-red);
  background-color: var(--persian-red);
  color: #fff;
  margin-top: 15px;
}

.text-cont .btn:hover {
  background-color: #fff;
  color: var(--persian-red);
}

.img-cont {
  justify-self: end;
}

.img-cont img {
  height: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--rich-brown);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: var(--persian-red);
}
