header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: 125px;
  align-items: center;
  gap: 30px;
}

h1 {
  font-size: 1.65rem;
  padding-left: 45px;
  font-family: 'Romelio Sans', sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 400px;
}

li {
  list-style: none;
  font-size: 1.125rem;
  font-weight: 500;
}

.btn-cont {
  display: flex;
  justify-content: center;
  padding-right: 45px;
}

.btn-cont button {
  border: 2px solid var(--rich-brown);
  background-color: #fff;
  border-radius: 25px;
  padding: 14px 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.15s;
}

.btn-cont button:hover {
  background-color: var(--rich-brown);
  color: #fff;
}

h1,
.btn-cont button,
li {
  white-space: nowrap;
  color: var(--rich-brown);
}
